{% load static i18n compress thumbnail %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}sonsuz{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}

{#                <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">#}
        <link href="{% static 'semantic/semantic.css' %}" rel="stylesheet">


        <!-- Your stuff: Third-party CSS libraries go here -->
        {% compress css %}
            <!-- This file stores project-specific CSS -->

            <link href="{% static 'css/project.css' %}" rel="stylesheet">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">

        {% endcompress %}
    {% endblock %}


</head>

<body>


<div class="ui vertical inverted sidebar menu">  {# 手机端适应 #}
    <a class="item" id="mhome" href="{% url 'home' %}">Home </a>
    <a class="item" id="mabout" href="{% url 'about' %}">关于 </a>
    <a class="item" id="mnews" href="{% url 'news:list' %}">新闻动态</a>
    <a class="item" id="mblogs" href="{% url 'blogs' %}">博客文章</a>
    <a class="item" id="mquora" href="{% url 'quora' %}">有问有答</a>
    <a class="item" id="mchat" href="{% url 'chat' %}">在线畅聊</a>
</div>

<div class="pusher">

    <div class="ui inverted vertical center aligned segment">

        <div class="ui container ">
            <div class="ui large secondary inverted pointing  menu ">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>

                {#            <a class="item" href="{% url 'home' %}">sonsuz</a>#}
                {#                <a class="header item" href="{% url 'home' %}">Sonsuz</a>#}
                <a class="item" id="home" href="{% url 'home' %}">Home </a>
                <a class="item" id="about" href="{% url 'about' %}">关于 </a>
                <a class="item" id="news" href="{% url 'news:list' %}">新闻动态</a>
                <a class="item" id="blogs" href="{% url 'blogs' %}">博客文章</a>
                <a class="item" id="quora" href="{% url 'quora' %}">有问有答</a>
                <a class="item" id="chat" href="{% url 'chat' %}">在线畅聊</a>
                <div class="ui search item">
                    <div class="ui icon input">
                        <input class="prompt" type="text" placeholder="搜索">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
                <div class="right item">


                    {% if request.user.is_authenticated %}
                        <div class=" ui dropdown userdropdown">
                            {% thumbnail request.user.avatar "x25" as im %}
                                <img class="ui avatar image" src="{{ im.url }}">
                            {% empty %}
                                <img class="ui avatar image" src="{% static "images/user.png" %}">
                            {% endthumbnail %}

                            <div class="menu">
                                {% if user.name %}
                                    <div class="header" href="">{{ user.name }}</div>

                                {% else %}
                                    <div class="header" href="">{{ user.username }}</div>
                                {% endif %}
                                <div class="ui divider"></div>
                                <a class="item" href="{% url "news:news_manage" %}"><i
                                        class="newspaper icon"></i>新闻管理</a>
                                <div class="ui divider"></div>
                                <a class="item" href="{% url 'users:detail' request.user.username %}"><i
                                        class="user icon"></i>个人中心</a>
                                <div class="ui divider"></div>
                                <a class="item"><i class="question circle icon"></i>帮助</a>
                                <a class="item" href="{% url 'account_logout' %}"><i
                                        class="sign-out icon"></i>{% trans "Sign Out" %}</a>
                            </div>
                        </div>

                    {% else %}
                        {# URL provided by django-allauth/account/urls.py #}
                        <a class="ui inverted button"
                           href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
                        &ThickSpace;
                        <a class="ui inverted button"
                           href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
                    {% endif %}



                    {#                    {% if request.user.is_authenticated %}#}
                    {##}
                    {#                        URL provided by django-allauth/account/urls.py#}
                    {#                        <a class="ui inverted"#}
                    {#                           href="{% url 'users:detail' request.user.username %}">#}
                    {#                            {% thumbnail request.user.avatar "x25" as im %}#}
                    {#                                <img class="ui avatar image" src="{{ im.url }}">#}
                    {#                            {% empty %}#}
                    {#                                <img class="ui avatar image" src="{% static "images/user.png" %}">#}
                    {##}
                    {#                            {% endthumbnail %}#}
                    {##}
                    {#                        </a>#}
                    {#                        &ThickSpace;#}
                    {#                        <a class="ui inverted button"#}
                    {#                           href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>#}
                    {#                    {% else %}#}
                    {#                        URL provided by django-allauth/account/urls.py#}
                    {#                        <a class="ui inverted button"#}
                    {#                           href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>#}
                    {#                        &ThickSpace;#}
                    {#                        <a class="ui inverted button"#}
                    {#                           href="{% url 'account_login' %}">{% trans "Sign In" %}</a>#}
                    {#                    {% endif %}#}
                </div>
            </div>
        </div>

    </div>

    <div class="ui container" style="padding-top: 15px">

        {% if messages %}
            {% for message in messages %}
{#                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">#}
{#                    {{ message }}#}
{##}
{#                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
{#                        <span aria-hidden="true">&times;</span>#}
{#                    </button>#}
{#                </div>#}

                <div class="ui success message">
                    <i class="close icon"></i>
                    {#                    <div class="header">#}
                    {#                        你注册成功！#}
                    {#                    </div>#}
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}
            <p>Use this document as a way to quick start any new project.</p>
        {% endblock content %}

    </div> <!-- /container -->
</div>
{% block modal %}{% endblock modal %}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascript %}

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    {#    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>#}
    <script src="{% static 'semantic/semantic.min.js' %}"></script>

    <!-- Your stuff: Third-party javascript libraries go here -->


    <!-- place project specific Javascript in this file -->
    {% compress js %}
        <script src="{% static 'js/project.js' %}"></script>

        <script>
            const currentUser = "{{ request.user.username }}";
        </script>

        <script>

            $('.message .close')
            .on('click', function() {
            $(this)
            .closest('.message')
            .transition('fade')
            ;
            })
            ;
        </script>

        <script>

            $('.userdropdown').dropdown({
                on: 'hover',
                transition: 'drop'
            });
        </script>


        <script>
            $(document).ready(function () {
                // fix menu when passed
                $('.masthead')
                        .visibility({
                            once: false,
                            onBottomPassed: function () {
                                $('.fixed.menu').transition('fade in');
                            },
                            onBottomPassedReverse: function () {
                                $('.fixed.menu').transition('fade out');
                            }
                        });

                // create sidebar and attach to menu open
                $('.ui.sidebar')
                        .sidebar('attach events', '.toc.item');
            });
        </script>
        <script>
            $(function () {
                let flags = ['news', 'about', 'blogs', 'quora', 'chat'];
                let href = window.location.href;
                let isHome = true;
                flags.forEach(function (item) {
                    if (href.indexOf(item) !== -1) {
                        $('#' + item).addClass('active');
                        $('#m' + item).addClass('active');

                        isHome = false
                    } else {
                        $('#' + item).removeClass('active');
                        $('#m' + item).removeClass('active');

                    }
                });
                if (isHome) {
                    $('#home').addClass('active');
                    $('#mhome').addClass('active');

                }
            })
        </script>



    {% endcompress %}

{% endblock javascript %}
</body>
</html>

