{% extends 'base.html' %}
{% load static humanize %}

{% block title %}
    {{ question.title }} | {{ block.super }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/quora.css' %}">
    {{ block.super }}
{% endblock %}


{% block content %}

    <div class="ui container">
        <a href="{% url 'users:detail' question.user.username %}">{{ question.user.get_profile_name }} </a>
        <h2 class="ui header">
            {{ question.title }}
            <a href="{% url 'quora:ask_question' %}" class="ui button right floated">
                <i class="fa fa-pencil" aria-hidden="true"></i> 提问
            </a>

            <div>
                {% if question.tags.names %}

                    {% for tag in question.tags.names %}
                        <span class="ui label">{{ tag }}</span>
                    {% endfor %}
                {% endif %}
            </div>

        </h2>

        <div class="ui divider"></div>

        <div class="content" question-id="{{ question.pk }}">
            <div class="">
                <p>{{ question.get_markdown|safe }}</p>

                <span class="right floated">

                </span>
            </div>
            <br>
            <div class="">


                <div class="ui  buttons">

                    <button class="ui positive basic button">
                        <i class="thumbs up outline icon"></i>赞
                        <span>
                            {% if question.total_votes != 0 %}
                                {{ question.total_votes }}
                            {% endif %}
                        </span>
                    </button>

                    <button class="ui grey basic button">
                        <i class="thumbs down outline icon"></i>踩
                    </button>

                </div>
                <span class="ui right floated"> {{ question.created_at|naturaltime }}提问</span>

            </div>

        </div>
        <div class="ui divider"></div>

        <div class="">
            <span class="">{{ question.count_answers }} 个回答：{% if question.has_correct %}已有{% else %}
                还没{% endif %}答案被采纳。
            </span>

            <span>
                <a href="{% url 'quora:create_answer'  question.pk question.slug %}"
                   class="ui button right floated">回答问题</a>
            </span>

        </div>

        <div class="ui divider"></div>

        <div class="ui items divided ">
            {% for item in question.answers.all %}
                {% include 'quora/answer_single.html' with answer=item %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block modal %}
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/quora.js' %}" type="text/javascript"></script>
    {{ block.super }}
{% endblock %}

