{% extends 'base.html' %}
{% load static humanize %}

{% block title %}
    {{ question.title }} | {{ block.super }}
{% endblock %}

{% block css %}


    {{ block.super }}
    <link rel="stylesheet" href="{% static 'editor/css/editormd.preview.css' %}"/>
{% endblock %}


{% block content %}

    <div class="ui container">
        {{ form.media }}
        <a href="{% url 'users:detail' question.user.username %}">{{ question.user.get_profile_name }} </a>
        <h2 class="ui header">
            {{ question.title }}
            <a href="{% url 'quora:ask_question' %}" class="ui button right floated">
                <i class="" aria-hidden="true"></i> 提问
            </a>

            <div>
                {% if question.tags.names %}
                    {% for tag in question.tags.names %}
                        <span class="ui label">{{ tag }}</span>
                    {% endfor %}
                {% endif %}
            </div>

        </h2>

        <div class="ui divider"></div>

        <div class="content" id="question-content" question-id="{{ question.pk }}">


            <div id="test-editormd-view">
                <textarea id="markdown-textarea" style="display:none;" name="test-editormd-markdown-doc">
                    {{ question.content }}
                </textarea>
            </div>



            <br>
            <div class="">

                <div class="ui buttons">

                    <button class="ui up positive button question-vote {% if request.user not in question.get_upvoters %}basic{% endif %}">
                        <i class="thumbs up outline icon"></i>赞
                        <span>

                            <span id="questionVotes-u">{{ question.total_votes.0 }}</span>

                        </span>
                    </button>

                    <button class="ui grey down button question-vote {% if request.user not in question.get_downvoters %}basic{% endif %}">
                        <i class="thumbs down outline icon"></i>踩
                        <span id="questionVotes-d">{{ question.total_votes.1 }}</span>
                    </button>

                </div>
                <span class="ui right floated"> {{ question.created_at|naturaltime }}提问</span>

            </div>

        </div>
        <div class="ui divider"></div>

        <div class="">
            <span class="">{{ question.count_answers }} 个回答：{% if question.has_correct %}已有{% else %}
                还没{% endif %}答案被采纳。
            </span>

            <span>
                <a href="{% url 'quora:create_answer'  question.pk question.slug %}"
                   class="ui button right floated">回答问题</a>
            </span>

        </div>

        <div class="ui divider"></div>

        <div class="ui items divided ">
            {% for item in question.answers.all %}
                {% include 'quora/answer_single.html' with answer=item %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block modal %}
{% endblock %}

{% block javascript %}

    <script src="{% static 'editor/examples/js/jquery.min.js' %}"></script>
    <script src="{% static 'editor/lib/marked.min.js' %}"></script>
    <script src="{% static 'editor/lib/prettify.min.js' %}"></script>
    <script src="{% static 'editor/lib/raphael.min.js' %}"></script>
    <script src="{% static 'editor/lib/underscore.min.js' %}"></script>
    <script src="{% static 'editor/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'editor/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'editor/lib/jquery.flowchart.min.js' %}"></script>

    <script src="{% static 'editor/editormd.js' %}"></script>

    <script type="text/javascript">
        $(function () {
            let testEditormdView = editormd.markdownToHTML("test-editormd-view", {
                markdown: $('#markdown-textarea').text(),// 直接将markdown文本写入到 textarea 里面，再读取出来，传入此处
                //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
                htmlDecode: "style,script,iframe",  // you can filter tags decode
                toc: true,
                tocm: true,    // Using [TOCM]
                tocContainer: "#custom-toc-container", // 自定义 ToC 容器层
                //gfm             : false,
                tocDropdown: true,
                // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
                emoji: true,
                taskList: true,
                tex: true,  // 默认不解析
                flowChart: true,  // 默认不解析
                sequenceDiagram: true,  // 默认不解析
            });
        });
    </script>
{{ block.super }}
    <script src="{% static 'js/quora.js' %}" type="text/javascript"></script>
{% endblock %}

