<div class="ui modal newsview" style="height: 90%;">
    <h1 class="header" id="title"></h1>

    <div class="scrolling content ">
        <p style="font-size: 20px" class="content" id="newscontent"></p>
    </div>


    {# 点赞和评论 #}
    <div class="actions">

        <a class="ui right floated circular icon "  id="news-conten-like">
            <i class="heart icon" id="news-like"></i>

            <span id="news-like-count"></span>
        </a>
        &nbsp;
        <a class="ui right floated circular icon " id="news-conten-comment">
            <i class="comment icon" id="news-comment"></i>

            <span id="news-comment-count"></span>
        </a>

    </div>


    <div class=" content">

        <div class="ui accordion container fluid">

            <div class="title" id="comment">
                <i class="dropdown icon"></i>
                <span id="comment-switch">展开评论</span>
            </div>


            <div class="content" id="comment-content">


                <div class="ui comments">
                    <h3 class="ui dividing header">评论</h3>

                    <form class="ui reply form" id="postReplyForm">
                        {% csrf_token %}

                        <div class="field">
                            <label for="reply-content"></label>
                            <textarea id="reply-content" name="replyContent"></textarea>
                        </div>
                        <a class="ui blue labeled submit icon button" id="postReply"><i class="icon paper plane"></i>发表</a>
                    </form>


                    <div class="comment " id="comment-content-item">

                    </div>
{#                    {% include "news/reply_list.html" %}#}


                </div>

            </div>

        </div>


    </div>
</div>
