{% extends "base.html" %}

{% load static %}


{% block title %}
    新闻管理 | {{ block.super }}
{% endblock %}
{% block content %}

    <div class="ui divided  items newcontent">
        {% for news in news_list %}

            <div class="item" news-id="{{ news.pk }}">
{#                <div class="image">#}
{#                    <img src="{% static "images/news.png" %}" style="border-radius: 15px;">#}
{#                </div>#}
                <div class="content">
                    <a class="header news-header" >{{ news.title }}</a>
                    <div class="meta">
                        <span>{{ news.updated_at }}</span>
                    </div>
                    <div class="description">


                        {#                        <p>{{ news.content }}</p>#}
                    </div>
                    <div class="extra">

                        <a class="ui right floated"
                           style="color: orangered;"
                           href="{% url 'news:delete_news' news.pk %}">
                            <i class="trash icon"></i>删除
                        </a>

                        <a class="ui right floated" >
                            <i class="edit icon"></i>编辑
                        </a>
                        <a class="ui right floated news-header" href="#">
                            <i class="eye icon"></i>查看
                        </a>


                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}

{% block modal %}
    {% include "news/news_form_modal.html" %}

    {% include "news/news_content_form_modal.html" %}


{% endblock modal %}

{% block javascript %}

    {{ block.super }}

    <script src="{% static 'js/news.js' %}" type="text/javascript"></script>



{% endblock javascript %}
