{% load static   %}

<div class="item" news-id="{{ news.pk }}">
    <div class="image">
        <img src="{% static "images/news.png" %}" style="border-radius: 15px;">
    </div>
    <div class="content">
        <a class="header news-header" >{{ news.title }}</a>
        <div class="meta">
            <span>{{ news.updated_at }}</span>
        </div>
        <div class="description">
{#            <p id="content-view">{{ news.content }}</p>#}
        </div>
        <div class="extra">
            <div class="ui right floated  "><i class="comment icon"></i>{{ news.replies_count }}</div>
            {#                        <a class="ui right floated"><i class="heart icon"></i>{{ news.likers_count }}</a>#}

            <div class="ui right floated likes">
                {% if request.user in news.get_likers %}
                    <a class="header" ><i class="heart inline icon"></i><span class="like-count">{{ news.likers_count }}</span></a>
                {% else %}
                    <a class="header"><i class="heart outline icon"></i><span class="like-count">{{ news.likers_count }}</span></a>

                {% endif %}
            </div>


        </div>
    </div>
</div>
