{% extends "base.html" %}

{% load static %}


{% block title %}
    新闻 | {{ block.super }}
{% endblock %}



{% block content %}


    <div class="ui padded grid fluid container">
        <div class="eleven wide column " id="main-news">
            <div class="ui divided  items newcontent">
                {% for news in news_list %}

                    {% include "news/news_single.html" with news=news %}
                {% endfor %}
            </div>

        </div>

        <div class="five wide column fluid container" id="hot-news">

            <a class="fluid ui button" onclick="addnews()">发布新闻</a>

            <div class="ui divider"></div>
            <h1 class="ui header">今日热点</h1>
            <div class="ui  items">
                {% for news in news_list %}

                    <div class="item">

                        <div class="content">
                            <a class="header"
                               style=" width: 300px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"
                               href="{% url "news:list" %}">{{ news.title }}</a>

                        </div>
                    </div>

                {% endfor %}
            </div>

            <div class="ui divider"></div>
            <h1 class="ui header">本周热点</h1>
            <div class="ui  items">
                {% for news in news_list %}

                    <div class="item">

                        <div class="content">
                            <a class="header"
                               style=" width: 300px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"
                               href="{% url "news:list" %}">
                                {{ news.title }}</a>

                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>


    </div>


{% endblock %}

{% block modal %}

    {% include "news/news_form_modal.html" %}
    {% include "news/news_content_form_modal.html" %}

{% endblock modal %}

{% block javascript %}

    {{ block.super }}


    <script src="{% static 'js/news.js' %}" type="text/javascript"></script>

    <script>
        if (window.screen.width <= 700) {
            $("#main-news").removeClass("eleven wide");
            $("#hot-news").remove();
        }


    </script>


    <script>
        {#function f(obj) {#}
        {#    var content = $(obj).attr("news-content");#}
        {#    alert(content);#}
        {#    $("#newscontent").val(content);#}
        {#    $('.newsview')#}
        {#            .modal({#}
        {#                blurring: true#}
        {#            })#}
        {#            .modal('show')#}
        {#    ;#}
        {# } #}

        function addnews() {

            $('.addnews')
                    .modal('show')
            ;
        }

    </script>



{% endblock javascript %}
