{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block title %}
    写文章 | {{ block.super }}
{% endblock %}

{% block css %}
    {{ block.super }}

    {{ form.media }}
{% endblock %}

{% block bar %}
    <div class="ui center aligned ">

        <div class="ui container ">
            <div class="ui secondary icon menu">

                <a class="item" href="{% url 'blogs:list' %}">
                    <i class="reply big icon"></i>

                </a>

                <div class="item">
                    <h1 class="center aligned">写文章</h1>
                </div>

                <div class="right item">
                    <div class="ui buttons">
                        <button class="ui button" onclick="f()">保存草稿</button>
                        <div class="or"></div>
                        <button class="positive ui button" type="submit" onclick="create_article()">发表</button>
                    </div>
                </div>


            </div>

        </div>

    </div>
{% endblock %}

{% block content %}
    <div class="ui ">
        <div class="row">
            <form id="create-article" role="form" method="post" enctype="multipart/form-data"
                  id="articleForm" action="{% url 'blogs:create' %}" style="width: 100%">
                {% csrf_token %}
                {#                {{ form|crispy }}#}
                <div class="ui fluid icon input">


                    {{ form.title }}
                </div>
                <br>

                <div id="article-content">
                    {{ form.content }}


                </div>


                {#                <div class="ui right labeled left icon input">#}
                {#                    <i class="tags icon"></i>#}
                {#                    {{ form.tags.errors }}#}
                {#                    {{ form.tags }}#}
                {#                    <a class="ui tag label">#}
                {#                        添加标签#}
                {#                    </a>#}
                {#                </div>#}

            </form>
        </div>
    </div>
{% endblock %}

{% block modal %}
    <div class="ui  modal err mini" id="err">
        <div class="header">
        </div>
        <div class="content">
            <div class="description">
                描述可以出现在右边
            </div>
        </div>
        <div class="actions">
            <button id="close" type="button" class="ui button">确定</button>
        </div>
    </div>


    <div class="ui modal" id="post-article">
        <i class="close icon"></i>
        <div class="header">
            发布文章
        </div>
        <div class=" content">



            <div class="description ui items">
                <div class="item">
                <span>文章分类：</span>
                <select class="ui search dropdown">
                    <option value="">State</option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                </select>

            </div>

            <div class="item">
                <span>文章标签：</span>
                <div class="ui right labeled left icon input">
                    <i class="tags icon"></i>
                    <input type="text" placeholder="多个标签使用英文逗号(,)隔开">

                </div>
            </div>


            </div>
        </div>

        <div class="actions">
            <div class="ui black deny button">
                不可以
            </div>
            <div class="ui positive right labeled icon button">
                是的，那是我
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(function () {
            $.get("{% static 'editormd_src/examples/test.md' %}", function (testmd) {
                $("#id_content").text(testmd);
            })
        });
    </script>

    <script>
        function create_article() {
            if ($("#title").val() === "") {
                {#$("#title").attr("placeholder", "请输入文章标题");#}
                $("#err .header").text("提示");
                $("#err .description").text("请输入文章标题");
                f();
                return;
            } else {
                post_article();
            }

            {#$("#create-article").submit();#}
        }


    </script>



    <script>
        function f() {


            $('.ui.modal.err')
                    .modal('show')
            ;
        }

        function post_article() {
            $('#post-article')
                    .modal('show')
            ;

        }


    </script>

    <script>
        $("#close").click(function () {
            $(".ui.modal.err").modal("hide");
        });
    </script>
{% endblock %}
