{% extends 'base.html' %}
{#{% load static crispy_forms_tags comments thumbnail %}#}
{% load static crispy_forms_tags  thumbnail %}
{% load comments %}


{% block title %}
    {{ article.title }} | {{ block.super }}
{% endblock %}

{% block css %}
    {{ block.super }}



    <link rel="stylesheet" href="{% static 'editor/css/editormd.preview.css' %}"/>
{% endblock %}

{% block content %}

    <div class="ui padded grid container">

        <div class="eleven wide column">
            <div class="ui card fluid">


                <!-- 标题 -->
                <h1 class="ui center aligned header" style="margin: 15px">{{ article.title }}</h1>

                <!-- 作者 -->
                <p class="content">

                    <a href="{% url 'users:detail' article.user.username %}">{{ article.user.get_profile_name }}</a>
                    发表于{{ article.created_at|date:"Y-m-d" }}

                    {% if request.user.username == article.user.username %}
                        <a class="ui right floated" title="编辑文章" href="{% url "blogs:update" article.slug %}">
                            <i class="edit icon" aria-hidden="true"></i>编辑本文
                        </a>
                    {% endif %}

                </p>
                <div class="ui divider"></div>


                <!-- 文章内容 -->
                <div id="test-editormd-view">
                        <textarea id="markdown-textarea" style="display:none;"
                                  name="test-editormd-markdown-doc">{{ article.content }}</textarea>
                </div>


                <!--评论列表-->
                <div class="ui comments padded container fluid" style="padding: 15px">
                    <div class="ui dividing header">评论
                        <!-- 文章评论数 -->
                        {% get_comment_count for article as comment_count %}
                        <span class="ui right floated" style="font-size: 14px; color: #6a9fb5">
                            当前文章的评论数： {{ comment_count }}
                        </span>
                    </div>

                    {% get_comment_list for article as comment_list %}
                    {% for comment in comment_list %}
                        <div class="comment">
                            <a class="avatar">
                                {% thumbnail comment.user.avatar "x50" as im %}
                                    <img src="{{ im.url }}" alt="用户头像" id="pic"/>
                                {% empty %}
                                    <img src="{% static 'images/user.png' %}"
                                         alt="没有头像"/>
                                {% endthumbnail %}
                            </a>
                            <div class="content">
                                <a class="author">{{ comment.user.get_profile_name }}</a>
                                <div class="metadata">
                                    <span class="date">{{ comment.submit_date }}</span>
                                </div>
                                <div class="text">{{ comment.comment }}</div>
                                <div class="actions">
                                    <a class="reply">回复</a>
                                </div>


                            </div>
                        </div>
                    {% endfor %}



                    <!-- 文章评论表单 -->
                    {#            {% render_comment_form for article %}#}
                    {% if request.user.is_authenticated %}
                        {% get_comment_form for article as form %}

                        <form class="ui reply form" method="post" action="{% comment_form_target %}">
                            {% csrf_token %}
                            {#                            {{ form|crispy }}#}

                            <div id="id_comment" class="field">
                                <textarea id="comment" name="comment"></textarea>
                            </div>

                            {{ form.content_type }}
                            {{ form.object_pk }}
                            {{ form.timestamp }}
                            {{ form.security_hash }}

                            <input type="hidden" name="next" value="{% url 'blogs:detail' article.slug %}"/>

                            <button type="submit" id="id_submit" value="提交"
                                    class="ui blue labeled submit icon button">
                                <i class="icon send"></i>发表
                            </button>
                        </form>

                    {% else %}
                        <p>请登录后发表评论！</p>
                    {% endif %}

                </div>


            </div>
        </div>


        <div class="four wide column ">
            <!-- 文章目录 -->
            <div class="ui card" style="padding: 15px">
                <div class="ui header">文章目录</div>
                <div class="ui fluid container" id="custom-toc-container"></div>
            </div>
        </div>

    </div>
{% endblock %}


{% block modal %}
    {{ block.super }}
{% endblock %}

{% block javascript %}

    <script src="{% static 'editor/examples/js/jquery.min.js' %}"></script>
    <script src="{% static 'editor/lib/marked.min.js' %}"></script>
    <script src="{% static 'editor/lib/prettify.min.js' %}"></script>
    <script src="{% static 'editor/lib/raphael.min.js' %}"></script>
    <script src="{% static 'editor/lib/underscore.min.js' %}"></script>
    <script src="{% static 'editor/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'editor/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'editor/lib/jquery.flowchart.min.js' %}"></script>

    <script src="{% static 'editor/editormd.js' %}"></script>

    <script type="text/javascript">
        $(function () {
            let testEditormdView = editormd.markdownToHTML("test-editormd-view", {
                markdown: $('#markdown-textarea').text(),// 直接将markdown文本写入到 textarea 里面，再读取出来，传入此处
                //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
                htmlDecode: "style,script,iframe",  // you can filter tags decode
                toc: true,
                tocm: true,    // Using [TOCM]
                tocContainer: "#custom-toc-container", // 自定义 ToC 容器层
                //gfm             : false,
                tocDropdown: true,
                // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
                emoji: true,
                taskList: true,
                tex: true,  // 默认不解析
                flowChart: true,  // 默认不解析
                sequenceDiagram: true,  // 默认不解析
            });
        });
    </script>

    {{ block.super }}

{% endblock %}
