{% extends 'base.html' %}
{#{% load static crispy_forms_tags comments thumbnail %}#}
{% load static crispy_forms_tags  thumbnail %}


{% block title %}
    {{ article.title }} | {{ block.super }}
{% endblock %}

{% block css %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'editor/css/editormd.preview.css' %}"/>
{% endblock %}

{% block content %}

    <div class="ui padded grid container">

        <div class="eleven wide column ui card">
            <!-- 标题 -->
            <h1 class="ui center aligned header">{{ article.title|title }}</h1>

            <!-- 作者 -->
            <p class="content">

                <a href="{% url 'users:detail' article.user.username %}">{{ article.user.get_profile_name }}</a>
                发表于{{ article.created_at|date:"Y-m-d" }}

                {% if request.user.username == article.user.username %}
                    <a title="编辑文章">
                        <i class="edit icon" aria-hidden="true"></i>编辑本文
                    </a>
                {% endif %}

            </p>
            <div class="ui divider"></div>


            <!-- 文章内容 -->
            <div id="test-editormd-view">
                        <textarea id="markdown-textarea" style="display:none;"
                                  name="test-editormd-markdown-doc">{{ article.content }}</textarea>
            </div>
            <hr/>

            <!-- 文章评论数 -->
            {#                {% get_comment_count for article as comment_count %}#}
            {#                <h6>当前文章的评论数： {{ comment_count }}</h6>#}
            {#                <hr/>#}
            {#                <!-- 文章评论表单 -->#}
            {#                {% render_comment_form for article %}#}
            {#                <div class="card my-4">#}
            {#                    <h5 class="card-header">评论</h5>#}
            {#                    <div class="card-body">#}
            {#                        {% if request.user.is_authenticated %}#}
            {#                            {% get_comment_form for article as form %}#}
            {#                            <form action="{% comment_form_target %}" method="POST">#}
            {#                                {% csrf_token %}#}
            {#                                {{ form|crispy }}#}
            {#                                <div id="id_comment" class="form-group">#}
            {#                                    <textarea id="comment" name="comment" class="form-control"#}
            {#                                              maxlength="250" rows="5"></textarea>#}
            {#                                </div>#}
            {#                                {{ form.content_type }}#}
            {#                                {{ form.object_pk }}#}
            {#                                {{ form.timestamp }}#}
            {#                                {{ form.security_hash }}#}
            {#                                <input type="hidden" name="next" value="{% url 'blogs:detail' article.slug %}"/>#}
            {#                                <input class="btn btn-info" type="submit" value="提交" id="id_submit"/>#}
            {#                            </form>#}
            {#                        {% else %}#}
            {#                            <p>请登录后发表评论！</p>#}
            {#                        {% endif %}#}
            {#                    </div>#}
            {#                </div>#}
            {#                <hr/>#}
            {#                <!--评论列表-->#}
            {#                {% get_comment_list for article as comment_list %}#}
            {#                {% for comment in comment_list %}#}
            {#                    <div class="media mb-4">#}
            {#                        {% thumbnail comment.user.avatar "x50" as im %}#}
            {#                            <img class="d-flex mr-3 rounded-circle" src="{{ im.url }}" alt="用户头像" id="pic"/>#}
            {#                        {% empty %}#}
            {#                            <img class="d-flex mr-3 rounded-circle" src="{% static 'img/user.png' %}" height="50px"#}
            {#                                 alt="没有头像"/>#}
            {#                        {% endthumbnail %}#}
            {#                        <div class="media-body">#}
            {#                            <h5 class="mt-0">{{ comment.user.get_profile_name }}</h5>#}
            {#                            {{ comment.comment }}#}
            {#                        </div>#}
            {#                    </div>#}
            {#                {% endfor %}#}
        </div>


        <div class="four wide column ">
            <!-- 文章目录 -->
            <div class="ui header">文章目录</div>
            <div class="ui card">
                <div id="custom-toc-container"></div>
            </div>
        </div>

    </div>
{% endblock %}


{% block modal %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'editor/examples/js/jquery.min.js' %}"></script>
    <script src="{% static 'editor/lib/marked.min.js' %}"></script>
    <script src="{% static 'editor/lib/prettify.min.js' %}"></script>
    <script src="{% static 'editor/lib/raphael.min.js' %}"></script>
    <script src="{% static 'editor/lib/underscore.min.js' %}"></script>
    <script src="{% static 'editor/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'editor/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'editor/lib/jquery.flowchart.min.js' %}"></script>

    <script src="{% static 'editor/editormd.js' %}"></script>

    <script type="text/javascript">
        $(function () {
            let testEditormdView = editormd.markdownToHTML("test-editormd-view", {
                markdown: $('#markdown-textarea').text(),// 直接将markdown文本写入到 textarea 里面，再读取出来，传入此处
                //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
                htmlDecode: "style,script,iframe",  // you can filter tags decode
                toc: true,
                tocm: true,    // Using [TOCM]
                tocContainer: "#custom-toc-container", // 自定义 ToC 容器层
                //gfm             : false,
                tocDropdown: true,
                // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
                emoji: true,
                taskList: true,
                tex: true,  // 默认不解析
                flowChart: true,  // 默认不解析
                sequenceDiagram: true,  // 默认不解析
            });
        });
    </script>
{% endblock %}
